<p id="notice"><%= notice %></p>

<h1> <% if @user %><%= @user.name.upcase_first %>'s<% end %> Checkins</h1>

<table>
  <thead>
    <tr>
      <th>Week</th>
      <th>User</th>
      <th>Buddy</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @checkins.each do |checkin| %>
      <% if not checkin.is_mirror or @user %>
        <tr>
          <td><%= checkin.week %></td>
          <td><%= checkin.user.name %></td>
          <td><%= checkin.buddy.name %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>
<% if !@user %>
  <%= link_to 'Back', :back %>
<% end %>

