<p id="notice"><%= notice %></p>

<p>
  <strong>Week:</strong>
  <%= @checkin.week %>
</p>

<p>
  <strong>Student 1:</strong>
  <%= @checkin.user.name %>
</p>

<p>
  <strong>Student 2:</strong>
  <%= @checkin.buddy.name %>
</p>

<p>
  <strong>Weekly Question Response:</strong><br>
  <%= @checkin.comment %>
</p>

