<!DOCTYPE html>
<html>
  <head>
    <title>Attendance</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>iOS DeCal</h1>

    <%= link_to 'Home', welcome_path %>
    <br>
    <%= link_to 'My checkins', my_checkins_path %>
    <br>
    <a href="https://goo.gl/forms/kD7P18khVZzX8ewm1">Feedback</a>
    <%= yield %>
    <br>
    <br>
    <%= link_to 'TA login', login_path %>
  </body>
</html>
